<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header" >
                    <h1>你猜<small> ™</small></h1>
                </div>
            </div>
        </div>

        <!-- 功能按钮 -->
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary">创建任务</button>
            </div>
        </div>

        <!-- 任务列表 -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="margin-top: 20px">
                    <div class="panel-body">
                        <table id="jobs" class="table table-striped" >
                            <thead>
                                <tr>
                                    <th>任务名称</th>
                                    <th>shell命令</th>
                                    <th>cron表达式</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-job" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑task</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="edit-name">任务名称</label>
                            <input readonly type="text" class="form-control" id="edit-name" placeholder="任务名称" >
                        </div>
                        <div class="form-group">
                            <label for="edit-command">Shell命令</label>
                            <input type="text" class="form-control" id="edit-command" placeholder="Shell命令" >
                        </div>
                        <div class="form-group">
                            <label for="edit-cron">Cron表达式</label>
                            <input type="text" class="form-control" id="edit-cron" placeholder="Cron表达式" >
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save-job">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $(function(){

            var host = "http://192.168.233.128:8888"
            // 编辑
            $("#jobs").on("click" , ".edit-job" , function (event) {
                // 赋值给模态框
                $("#edit-name").val($(this).parents("tr").children(".job-name").text())
                $("#edit-command").val($(this).parents("tr").children(".job-command").text())
                $("#edit-cron").val($(this).parents("tr").children(".job-cron").text())
                // 展示模态框
                $("#edit-job").modal("show")
            })

            // 删除
            $("#jobs").on("click" , ".delete-job" , function (event) {
                // 节点名称
                var jobName = $(this).parents("tr").children(".job-name").text()
                $.ajax({
                    url:host + '/job/delete' ,
                    type:"post",
                    dataType:'json',
                    data:{jobName:jobName},
                    complete:function (res) {
                        if ( 0 == res.responseJSON.code ) {
                            flushJobLists()
                        } else {
                            alert("删除失败"+ res.responseJSON.msg)
                        }
                    },
                    error:function () {

                    }
                })
            })

            // 强杀
            $("#jobs").on("click" , ".kill-job" , function (event) {
                // 节点名称
                var jobName = $(this).parents("tr").children(".job-name").text()
                $.ajax({
                    url:host + '/job/kill' ,
                    type:"post",
                    dataType:'json',
                    data:{jobName:jobName},
                    complete:function (res) {
                        if ( 0 == res.responseJSON.code ) {
                            flushJobLists()
                        } else {
                            alert("强杀"+ res.responseJSON.msg)
                        }
                    },
                    error:function () {

                    }
                })
            })

            // 保存任务
            $("#save-job").on("click" , function () {
                // {"name":"测试2" , "command":"echo 123;" , "cronExpr":"/2 * * * * * *"}
                var jobInfo = {name:$("#edit-name").val() , command : $("#edit-command").val() , cronExpr : $("#edit-cron").val()}
                $.ajax({
                    url:host + '/job/save' ,
                    type:"post",
                    dataType:'json',
                    data: {job:JSON.stringify(jobInfo)},
                    complete:function (res) {
                        if ( 0 == res.responseJSON.code ) {
                            $("#edit-job").modal("hide")
                            flushJobLists()
                        } else {
                            alert("保存失败"+ res.responseJSON.msg)
                        }
                    },
                    error:function () {

                    }
                })
            })


            function flushJobLists() {
                $.ajax({
                  url:host + '/job/lists' ,
                  dataType:'json',
                  success:function (resp) {
                     if ( resp.code != 0 ) {
                         return
                     }
                     var jobLists = resp.data
                      $("#jobs tbody").empty()
                      for ( var i = 0; i < jobLists.length; i ++ ) {
                          var job = jobLists[i]
                          var tr = $("<tr>")
                          tr.append($('<td class="job-name">').html(job.name))
                          tr.append($('<td class="job-command">').html(job.command))
                          tr.append($('<td class="job-cron">').html(job.cronExpr))
                          var toolbar = $('<div class="btn-toolbar">').
                            append('<button type="button" class="btn btn-info edit-job">编辑</button>').
                            append('<button type="button" class="btn btn-danger delete-job">删除</button>').
                            append('<button type="button" class="btn btn-warning kill-job">强杀</button>')
                          tr.append('<td>').append(toolbar)
                          $("#jobs tbody").append(tr)
                      }
                  }
                })
            }
            flushJobLists()
        })
    </script>
</body>

</html>